---

---

<nav class="md:block">
  <ul class="flex space-x-8">
    <li class="mr-2">
      <a href="/docs" class="text-gray-900 hover:text-indigo-600">Docs</a>
    </li>
    <li class="mr-2">
      <a href="/blog" class="text-gray-900 hover:text-indigo-600">Blog</a>
    </li>
    <li>
      <a href="/chat" class="text-gray-900 hover:text-indigo-600">Chat</a>
    </li>
  </ul>
</nav>
